@using EntityLayer.Concrete
@model List<Announcement>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

@{
    string color = "";
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card shadow-lg">
        <div class="card-body">
            <h4 class="card-title"> Duyurular Tablosu </h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th> # </th>
                            <th> Başlık </th>
                            <th> Tarih </th>
                            <th> Tür </th>
                            <th> Detaylar </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var duyuru in Model)
                        {
                            @if (duyuru.Status == "Yeni Yazı")
                            {
                                color = "badge badge-danger";
                            }
                            if (duyuru.Status == "Workshop")
                            {
                                color = "badge badge-warning";
                            }
                            if (duyuru.Status == "Yeni Video")
                            {
                                color = "badge badge-success";
                            }
                            if (duyuru.Status == "Konferans")
                            {
                                color = "badge badge-info";
                            }

                            <tr>

                                <td> <strong> @duyuru.AnnouncementId </strong>  </td>
                                <td> @duyuru.Title </td>
                                <td> @(((DateTime)duyuru.Date).ToString("dd-MMM-yyyyy")) </td>
                                <td> <label class="@color"> @duyuru.Status </label>  </td>
                                <td>
                                    <a href="/Writer/Default/AnnouncementDetails/@duyuru.AnnouncementId" class="btn btn-rounded btn-outline-primary">
                                        Detaylar
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
