@model EntityLayer.Concrete.WriterMessage
@{
    ViewData["Title"] = "SendMessage";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="content-wrapper">
    <div class="row justify-content-center">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card shadow-lg">
                <div class="card-header bg-white text-black d-flex justify-content-between fs-3 py-3">
                    <span class="btn btn-rounded btn-outline-dark">
                        <i class="ti-eye ml-1"></i>
                        Yeni Mesaj Gönderme Sayfası
                    </span>
                </div>
                <div class="card-body">
                    <form class="form-group" method="post">
                        @Html.Label("Alıcı Mail")
                        @Html.TextBoxFor(x => x.Receiver, new { @class = "form-control" })
                        <br />
                        @Html.Label("Konu")
                        @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
                        <br />
                        @Html.Label("Mesaj")
                        @Html.TextAreaFor(x => x.WriterContent, 10, 3, new { @class = "form-control" })
                        <br />
                        <button class="btn btn-rounded btn-outline-primary"> Gönder </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


